.logo img{
    height: 100%;
    width: 100%;
}

.footer-social img{
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.footer-location img{
    height: 25px;
    width: 25px;
    margin-right: 10px;
}
.social-icon{
    margin-right: 3px;
    margin-left: 5px;
}
.footer-location .row{
    padding-top: 20px;
}

.full-location{
    content: center;
}

button {
    border: none;
    background: none;
    width: 100%;
}
