<div class="text-center">
    <div class="header">
        <h1>Our Team</h1>
    </div>
    <div class="person">
        <div class="row">
            <div class="col-md-4">
                <img class="personImage" src="../../assets/images/ourTeam/srinivas.jpeg" alt="">
                <br/>Enduri srinivas Kumar<br/>
                Managing Director
            </div>
            <br/>
            <div class="col-md-4">
                <img class="personImage" src="../../assets/images/ourTeam/naresh.jpeg" alt="">
                <br/>Enduri Naresh Kumar<br/>
                Managing Director
            </div>
            <div class="col-md-4">
                <img class="personImage" src="../../assets/images/ourTeam/varun.jpeg" alt="">
                <br/>Enduri Varun Sai<br/>
                Managing Director
            </div>
            <br/>
        </div>
    </div>
</div>
